@font-face {
    font-family: 'antennacondlight';
    src: url('fonts/antennacond_light-webfont.eot');
    src: url('fonts/antennacond_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/antennacond_light-webfont.woff') format('woff'),
         url('fonts/antennacond_light-webfont.ttf') format('truetype'),
         url('fonts/antennacond_light-webfont.svg#antennacondlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


p, pre, ul, ol, a, label{font-family: 'antennacondlight',Sans-Serif !important; }
h1, h2, h3, h4, h5, h6{font-family: 'antennacondlight',Sans-Serif !important;font-weight: normal; }




.row{width: 85em; }

section#conteudo{position: relative; z-index: 10; overflow: hidden; }

#header-slide {position: absolute;width: 100%; }

#slider img {background-position: center top; background-repeat: no-repeat; width: 100%; height: 100%; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; }

#header {background: rgba(59, 59, 59, 0.8); position: relative; top: 0px; height: 70px; }
footer {background: rgba(59, 59, 59, 1); position: relative; top: 0; height: 70px; margin-top: 10px; }

.btn{background: #000000; width: auto; border: 1px solid #1e728c; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; color: white; cursor: pointer; display: inline-block; font-family: inherit; font-size: 18px; line-height: 1; margin: 0; padding: 10px 20px 11px; position: relative; text-align: center; text-decoration: none; -webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out; -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out;}
.btn:hover{background: #879E32;}


/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main {position: relative; width: 100%; height: 40em; overflow: hidden; margin: 20px 0px 20px; }

.bl-main > section {position: absolute; width: 15%; height: 25%; float: left; }
.bl-main > section:first-child {top: 5%; left: 67%; background: #0ea300; }
.bl-main > section:nth-child(2) {top: 5%; left: 85%; background: #ff9c00; }
.bl-main > section:nth-child(3) {top: 35%; left: 67%; background: #5f3ac2; }
.bl-main > section:nth-child(4) {top: 35%; left: 85%; background: #2987f7; }
.bl-main > section:nth-child(5) {top: 65%; left: 67%; background: #ea00ff; }
.bl-main > section:nth-child(6) {top: 65%; left: 85%; background: #fb0017; }


.bl-box {position: relative; width: 100%; height: 100%; cursor: pointer; opacity: 1; /* Centering with flexbox */ display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -moz-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.bl-box h2 {text-align: center; margin: 0; width: 100%; font-size: 15px; letter-spacing: 2px; font-weight: 700; padding: 10px; color: white; }
.bl-box h3{margin: 0;}
.bl-main > section .bl-icon-close { cursor: pointer; z-index: 100; opacity: 0; pointer-events: none; float: right; }
.bl-icon-close {background: url(../images/close.png)no-repeat center;width: 50px;height: 50px;background-size: contain;}

.header-title{margin: 0px 0 20px;}
.header-title h2, h4{color: white;}
.header-title h3{margin: 0;color: white;padding-top: 40px;font-size: 40px;}
.header-title h4{color: white;font-size: 30px;}
.header-title figure {float: left;
display: block;
margin-right: 20px;}

.bl-content h4{color: white;font-size: 30px;}
.bl-content form{margin: 30px 0;}
.bl-content label{color: white; font-size: 25px; margin-bottom: 7px;}


.bl-content,div.bl-panel-items > div > div {opacity: 0; pointer-events: none; position: absolute; top: 60px; left: 30px; right: 30px; bottom: 30px; padding: 0; overflow: hidden; overflow-y: auto; }
.bl-content h2 {color: white;font-size: 24px;margin: 0;}

.bl-main > section {-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.bl-main > section.bl-expand {width: 100%; height: 100%; top: 0; left: 0; }
.bl-main > section.bl-expand-top {z-index: 100; }
/*.bl-main > section:first-child.bl-expand {background: #EE4444; }
.bl-main > section:nth-child(2).bl-expand {background: #F98262; }
.bl-main > section:nth-child(3).bl-expand {background: #4BBE8E; }
.bl-main > section:nth-child(4).bl-expand {background: #0D8278; }*/
.bl-main.bl-expand-item > section:not(.bl-expand), .bl-main.bl-expand-item > section.bl-scale-down {-webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); opacity: 0; }


.bl-box {-webkit-transition: opacity 0.2s linear 0.5s; -moz-transition: opacity 0.2s linear 0.5s; transition: opacity 0.2s linear 0.5s; }
section.bl-expand .bl-box {opacity: 0; -webkit-transition: opacity 0s linear; -moz-transition: opacity 0s linear; transition: opacity 0s linear; }
.bl-box h2 {-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
/*.no-touch section:not(.bl-expand) .bl-box:hover h2 {-webkit-transform: translateY(-15px); -moz-transform: translateY(-15px); -ms-transform: translateY(-15px); transform: translateY(-15px); }
*/.bl-content,
.bl-icon-close {-webkit-transition: opacity 0.1s linear 0s; -moz-transition: opacity 0.1s linear 0s; transition: opacity 0.1s linear 0s; }
section.bl-expand .bl-content, section.bl-expand .bl-icon-close {pointer-events: auto; opacity: 1; -webkit-transition: opacity 0.3s linear 0.5s; -moz-transition: opacity 0.3s linear 0.5s; transition: opacity 0.3s linear 0.5s; top: 4%; }

.bloco{ padding: 25px 10px; margin-bottom: 30px; text-align: center;}
.bloco:hover{-moz-box-shadow: 1px 1px 14px #969696;
-webkit-box-shadow: 1px 1px 14px #969696;
box-shadow: 0px 3px 20px #000000;}

.bg-green{background: #0d7f02;}
.bg-roxo{background: #42268d;}


.orbit{margin-bottom: 0; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{height: 40px;font-size: 22px; }*/
