
#keyboard{background-color:rgb(197, 193, 193); width:65.8%; height:288;display:block; border-top:none; padding-left:21px; display:block;
          position:absolute; bottom:-400px; left:16%; z-index:100; padding:12px;}
#keyboard:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}

#keyboardHeader {position:relative;}
#keyboardHeader div {color:#fff; background-color:red;padding:5px; padding-left:15px; padding-right:15px; position:absolute; cursor:pointer; right:-10px; top:-41px;}
.closex {font-weight:bolder; color:white;}

#keyboardCapitalLetter {display:block;}
#keyboardSmallLetter {display:none;}
#keyboardNumber {display:none;}
#keyboardSymbols {display:none;}

.button
{
    width:60px; height:60px;background-color:white; position:relative;float:left;margin-right:9px;margin-top:10px;cursor:pointer;font-size:1.9em;

    /*box shadow*/
    /*box radius*/

    /*gradient*/ /* old browsers */ /* firefox */
 /* webkit */

    border: none;
    webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*gradient*/ /* old browsers */ /* firefox */ /* webkit */ /* ie */
}
.button:hover{
    background: rgb(175, 175, 175);
    color: white;
}


.buttonDown {background:none;background-color: #c9cdd5; -webkit-box-shadow:none;-moz-box-shadow: none;box-shadow: none;}
.button_a {margin-left:26px;}
.button_dash {margin-left:26px;}
.button_underscore {margin-left:26px;}
.button_enter {width:103px; font-size:1.3em; }
.button_del{font-size:1.3em;}
.button_smallletter{font-size:1.3em;}
.button_capitalletterleft{font-size:1.3em;}
.button_capitalletterright{ width:129px; font-size:1.3em;}
.button_numberleft{width:172px; font-size:1.3em; margin-left:26px;}
.button_numberright{width:129px; font-size:1.3em;}
.button_space {width:376px;}
.button_symbolsleft{width:172px; font-size:1.3em; margin-left:26px;}
.button_symbolsright{width:129px; font-size:1.3em;}


.key {width:100%; height:100%; text-align:center; padding-top:12px;color: black;}
.key_del {padding-top:18px;}
.key_enter {padding-top:18px;}
.key_smallletter {padding-top:18px;}
.key_capitalletterleft {padding-top:18px;}
.key_capitalletterright {padding-top:18px;}
.key_number {padding-top:18px;}
.key_symbols {padding-top:18px;}



